.About {
   flex: 1 1 auto;
   padding-top: 160px;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
}

.About_text {
   max-width: 720px;
   margin-bottom: 40px;
   line-height: 24px;
}

.About_offer {
   display: flex;
   cursor: pointer;
   height: 50px;
   align-items: center;
}

.About_offer-text {
   margin-left: 24px;
   font-weight: bold;
   font-size: 32px;
}

.About_carousel {
   position: absolute;
   top: 0;
   right: 130px;
   width: 200px;
   height: 100%;
   overflow: hidden;
}
