@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
   .App {
      font-family: 'Inter var', sans-serif;
   }
}

.App {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: -2%;
   display: flex;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   color: #ffffff;
   text-align: left;
   overflow-y: scroll;
   overflow-x: hidden;
}

.Logo {
   position: absolute;
   /*animation-duration: 3s;
   animation-name: slidein;
   animation-delay: 3s;
   top: 50%;
   left: 110px;
   width: 180px;
   animation-fill-mode: forwards;*/
}

.Logo_text {
   position: absolute;
   top: 40px;
   left: 200px;
   font-weight: bold;
   font-size: 72px;
   line-height: 86px;
}

.ActiveArea {
   position: relative;
   margin-left: 110px;
   opacity: 1;
   flex: 1 1 auto;
   transition: opacity 0.5s;
}

.Menu_opened .ActiveArea {
   opacity: 0;
}

@keyframes slidein {
   to {
      top: 40px;
   }
}
