.Main {
   height: 100vh;
   flex: 1 1 auto;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 2s;
   animation-delay: 5s;
   animation-fill-mode: forwards;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.Main .Text {
   max-width: 850px;
   line-height: 24px;
}

.Main .Text h1 {
   font-size: 72px;
   line-height: 86px;
}

.Main .Text p {
   font-size: 30px;
   line-height: 135%;
}
