.Menu {
   z-index: 0;
   position: fixed;
   flex: 0 1 auto;
   width: 40px;
   margin: 170px 30px 0 40px;
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
}

.MenuLogo {
   transition: opacity .5s;
   opacity: 0;
   position: absolute;
   top: -130px;
   left: 70px;
}

.Menu_opened .Menu {
   z-index: 1;
}

.Menu_opened .Menu .MenuLogo {
   opacity: 1;
}

.MenuItems {
   position: fixed;
   transition: opacity .5s;
   opacity: 0;
}

.Menu_opened .MenuItems {
   opacity: 1;
}

.Menu_opened .MenuItems li span {
   cursor: pointer;
}

.MenuItems ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.MenuItems li {
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 72px;
   height: 100px;
}

.MenuItems li::before {
   display: inline-block;
   content: '';
   width: 40px;
   height: 10px;
   background-color: white;
   margin-right: 30px;
}

.MenuButton {
   position: fixed;
   top: 65px;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 3s;
   animation-delay: 4s;
   animation-fill-mode: forwards;
   cursor: pointer;
   width: 40px;
   height: 40px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -o-transition: all .25s ease-in-out;
   transition: all .25s ease-in-out;
}

.MenuButton span {
   width: 40px;
   height: 10px;
   background-color: white;
   display: block;
   position: absolute;
   -webkit-transform: rotate(0deg) translate(0, 0);
   -moz-transform: rotate(0deg) translate(0, 0);
   -o-transform: rotate(0deg) translate(0, 0);
   transform: rotate(0deg) translate(0, 0);
   -webkit-transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -o-transition: all .25s ease-in-out;
   transition: all .25s ease-in-out;
   left: 0;
   opacity: 1;
}

.MenuButton span:nth-child(2) {
   top: 0px;
}

.MenuButton span:nth-child(2) {
   top: 20px;
}

.MenuButton_opened span:nth-child(1) {
   -webkit-transform: rotate(45deg) translate(3px, 10px);
   -moz-transform: rotate(45deg) translate(3px, 10px);
   -o-transform: rotate(45deg) translate(3px, 10px);
   transform: rotate(45deg) translate(3px, 10px);
}

.MenuButton_opened span:nth-child(2) {
   -webkit-transform: rotate(-45deg) translate(4px, -11px);
   -moz-transform: rotate(-45deg) translate(4px, -11px);
   -o-transform: rotate(-45deg) translate(4px, -11px);
   transform: rotate(-45deg) translate(4px, -11px);
}

.MenuInfo {
   bottom: 20px;
}

.MenuInfo div {
   margin-bottom: 7px;
}

@keyframes fadein {
   to {
      opacity: 1;
   }
}
