.Menu {
   z-index: 0;
   position: fixed;
   flex: 0 1 auto;
   width: 40px;
   padding-top: 105px;
   margin: 65px 30px 0 40px;
   -webkit-user-select: none; /* Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
}

.Menu_opened .Menu {
   z-index: 1;
}

.MenuItems {
   position: fixed;
   transition: opacity .5s;
   opacity: 0;
}

.Menu_opened .MenuItems {
   opacity: 1;
}

.Menu_opened .MenuItems li span {
   cursor: pointer;
}

.MenuItems ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.MenuItems li {
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 72px;
   height: 100px;
}

.MenuItems li::before {
   display: inline-block;
   content: '';
   width: 40px;
   height: 10px;
   background-color: white;
   margin-right: 30px;
}

.MenuButton {
   position: fixed;
   top: 65px;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 3s;
   animation-delay: 4s;
   animation-fill-mode: forwards;
   cursor: pointer;
}

.MenuInfo {
   bottom: 20px;
}

.MenuInfo div {
   margin-bottom: 7px;
}

@keyframes fadein {
   to {
      opacity: 1;
   }
}
