.RentTabs {
   display: flex;
   font-weight: bold;
   font-size: 72px;
   line-height: 86px;
}

.RentTabs_tab {
   cursor: pointer;
   margin-right: 0.2em;
   opacity: 0.5;
}

.Tab-enter {
   opacity: 0;
}

.Tab-enter-active {
   opacity: 0.5;
   transition: all 500ms ease-out;
}

.Tab-enter:first-child,
.Tab-enter-done:first-child,
.Tab-appear:first-child,
.Tab-appear-done:first-child {
   opacity: 1;
}

.Tab-exit {
   opacity: 0.5;
   width: 100%;
}

.Tab-exit-active {
   margin: 0;
   width: 0;
   opacity: 0;
   transition: all 500ms ease-out;
}
