.Services {
   flex: 1 1 auto;
   padding-top: 160px;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
}

.Services_text {
   max-width: 720px;
   line-height: 24px;
   margin-bottom: 400px;
}

.Services_text ul {
   list-style: none;
   padding-inline-start: 0;
   margin-left: 5px;
}

.Services_text ul li::before {
   content:  "—";
   position: relative;
   left: -5px;
}

.Services_menu {
   position: fixed;
   top: 40px;
   right: 30px;
   max-width: 440px;
   display: flex;
   flex-direction: row;
   padding-inline-start: 0;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
}

.Services_menu-item {
   border: 4px solid white;
   margin: 0 12px 12px 0;
   background: white;
   color: black;
   cursor: pointer;
   font-weight: bold;
   font-size: 24px;
   padding: 0 7px;
}

.Services_menu-item span {
   word-wrap: break-word;
   white-space: normal;
}

.Services_menu-item#streams {
   max-width: 77%;
}

.Services_menu-item:hover {
   color: white;
   background: black;
}

.Services_menu .Services_menu-active {
   color: white;
   background: black;
}
