@font-face {
   font-family: 'Inter UI';
   src: url('./fonts/Inter-Regular.ttf') format('ttf');
   src: url('./fonts/Inter-Regular.woff') format('woff');
}

.App {
   display: flex;
   font-family: Inter UI;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 135%;
   color: #FFFFFF;
   height: 100%;
}

.Logo {
   position: absolute;
   animation-duration: 3s;
   animation-name: slidein;
   animation-delay: 3s;
   top: 50%;
   left: 110px;
   width: 180px;
   animation-fill-mode: forwards;
}

.ActiveArea {
   flex: 1 1 auto;
}

@keyframes fadein {
   to {
      opacity: 1;
   }
}
