@font-face {
   font-family: 'Inter UI';
   src: url('./fonts/Inter-Regular.ttf') format('ttf');
   src: url('./fonts/Inter-Regular.woff') format('woff');
}

.App {
   display: flex;
   font-family: Inter UI;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 24px;
   color: #FFFFFF;
   text-align: left;
   height: 100%;
}

.Logo {
   position: absolute;
   animation-duration: 3s;
   animation-name: slidein;
   animation-delay: 3s;
   top: 50%;
   left: 110px;
   width: 180px;
   animation-fill-mode: forwards;
}

.Logo_text {
   position: absolute;
   top: 40px;
   left: 320px;
   font-weight: bold;
   font-size: 72px;
   line-height: 86px;
}

.ActiveArea {
   margin-left: 110px;
   opacity: 1;
   flex: 1 1 auto;
   transition: opacity .5s;
}

.Menu_opened .ActiveArea {
   opacity: 0;
}

@keyframes slidein {
   to {
      top: 40px;
   }
}
