.Content {
   height: 0;
   flex: 1 1 auto;
   padding-top: 160px;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 2s;
   animation-delay: 5s;
   animation-fill-mode: forwards;
}

.Text {
   max-width: 500px;
}

@keyframes fadein {
   to {
      opacity: 1;
   }
}
