.Main {
   height: 0;
   flex: 1 1 auto;
   padding-top: 160px;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 2s;
   animation-delay: 5s;
   animation-fill-mode: forwards;
}

.Main .Text {
   max-width: 850px;
}

.Main .Text h1 {
   font-size: 72px;
   line-height: 86px;
}

.Main .Text p {
   font-size: 30px;
   line-height: 135%;
}
