.Menu {
   position: relative;
   flex: 0 1 auto;
   width: 40px;
   padding-top: 105px;
   margin: 65px 30px 0 40px;
   transition: width 2s;
}

.Menu_opened {
   width: 400px;
}

.MenuItems {
   position: fixed;
   transition: opacity .5s linear .2s;
   opacity: 0;
}

.Menu_opened .MenuItems {
   transition: opacity 2s linear .7s;
   opacity: 1;
}

.MenuItems ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.MenuItems li {
   display: flex;
   align-items: center;
   cursor: pointer;
   font-weight: bold;
   font-size: 72px;
   height: 100px;
}

.MenuItems li::before {
   display: inline-block;
   content: '';
   width: 40px;
   height: 10px;
   background-color: white;
   margin-right: 30px;
}

.MenuButton {
   position: fixed;
   top: 65px;
   opacity: 0;
   animation-name: fadein;
   animation-duration: 3s;
   animation-delay: 4s;
   animation-fill-mode: forwards;
   cursor: pointer;
}

.MenuInfo {
   bottom: 20px;
}

.MenuInfo span {
   display: block;
   margin-bottom: 7px;
}

@keyframes slidein {
   to {
      top: 40px;
   }
}

@keyframes fadein {
   to {
      opacity: 1;
   }
}
